@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;600&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --corFundoAzulForte: #118B89;
    --corAzulClaro: #2DC2BF;
    --corBoxBranco: #F7F7F7;
    --corPreto: #1E1E1E;
    --corCinza: #D2D2D2;
    --corVerdeClaro: #79EE91;

    --fontePadrao: 'Lexend', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--corFundoAzulForte);
    font-family: var(--fontePadrao);
}

/* ----------------------
------ LUZES 
----------------------- */

.luzes-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    color: var(--corBoxBranco);
    font-size: 1.4rem;
    text-transform: uppercase;
}

.luzes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
    
    font-size: 1.7rem;
}

.luzes-fundo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
}

.luz {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-luz {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--corBoxBranco);
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}

.btn-luz:hover {
    background-color: var(--corAzulClaro);
}

.imgLuz {
    max-width: 100%;
    width: 60px;
    max-height: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0 5px;
    object-fit: contain;
}

/* ----------------------
------ PORTÃO
----------------------- */

.portao-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    color: var(--corBoxBranco);
    font-size: 1.4rem;
    text-transform: uppercase;
}

.slider-fundo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--corBoxBranco);
    border-radius: 30px;
    width: 300px;
    height: 65px;
}

.slider-container {
    width: 300px;
    margin: 25px auto;
    text-align: center;
}

.slider {
    width: 80%;
    -webkit-appearance: none;
    appearance: none;
    height: 5px;
    background-color: var(--corPreto);
    border-radius: 15px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: var(--corAzulClaro);
    cursor: pointer;
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background-color: #4CAF50;
    cursor: pointer;
}

.botao-container-portao {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-portao {
    margin: 25px;
    width: 50%;
    padding: 9px;

    border-radius: 20px;
    font-family: var(--fontePadrao);
    background-color: var(--corBoxBranco);
    font-weight: 600;
    text-transform: lowercase;
    font-size: 1.2rem;
    color: var(--corPreto);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.07);
    cursor: pointer;
    border: none;

}

.btn-portao:active {
    transform: scale(1.02);
}

/* ----------------------
------ TEMPERATURA
----------------------- */

.temperatura-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    color: var(--corBoxBranco);
    font-size: 1.4rem;
    text-transform: uppercase;
}

.temperatura-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 100px;
    text-align: center;
    
    font-size: 1.7rem;
}

.temperatura-fundo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--corBoxBranco);
    border-radius: 30px;
    width: 180px;
    height: 50px;
    margin: 10px;
    padding: 15px;
    overflow: hidden;
}

.imgTemperatura {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0 5px;
    object-fit: contain;
}

#termometro-color {
    color: #FF3E4D;
}

#humidade-color {
    color: #0289F4;
}